.btn {
  display: inline-block;
  padding: 18px 50px;
  cursor: pointer;
}

.heading--iconed {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: -40px;
    left: 50%;
    margin-left: -123px;
    width: 247px;
    height: 24px;
  }
}
