$white: #fff;
$black: #000;
$yellow: #c90;
$light-black: #4c4c4c;

$font-family--base: "Lato", Arial, sans-serif;
$font-family--gentium: "Gentium Book Basic", Georgia, serif;
$font-family--yeseva: "Yeseva One", Arial, sans-serif;

$html-size-base: 10px;
$font-size--sm: 1.4rem;
$font-size: 1.6rem;
$font-size--md: 2.1rem;
$font-size--bg: 2.5rem;
$font-size--lg: 3.6rem;

$min-mobile-width: 320px;
$min-tablet-width: 760px;
$min-desktop-width: 1150px;
