.about {
    position: relative;
    z-index: 5;
    background-color: $white;
    @include viewport-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../img/pattern.png');
    background-repeat: repeat;
    border-top: solid $white 6px;
    border-bottom: solid #191919 6px;
    &__wrapper {
        min-height: 75%;
        width: 409px/1600px * 100%;
        margin-left: 285px/1600px * 100%;
        text-align: center;
    }
    &__dish {
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translateY(-50%);
        height: auto;
    }
    &__heading {
        font-family: $font-family--yeseva;
        font-size: $font-size--lg;
        color: $yellow;
        @include iconed-heading('../img/delimiter-2.png');
    }
    &__descr {
        margin-top: 55px;
        font-family: $font-family--base;
        line-height: 2.4rem;
    }
    &__sign {
        margin-top: 52px;
        margin-left: 20%;
    }
}
