.ingredients {
  @include viewport-height;
  display: flex;
  align-items: center;
  background: url('../img/ingredients__background.png');
  background-size: cover;
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 570px/1600px * 100%;
    margin-left: 815px/1600px * 100%;
    height: 80vh;
    text-align: center;
    font-family: $font-family--base;
    color: white;
    background: url("../img/black-pattern.png");
    background-size: cover;
  }
  &__heading {
    font-size: $font-size--lg;
    &::after {
      background: url('../img/delimiter-3.png');
    }
  }
  &__descr {
    margin: 70px (80px/570px * 100%) 5vh (80px/570px * 100%);
    line-height: 2.4rem;
  }
  &__pics-wrapper {
    margin: 0 (80px/570px * 100%);
  }
  &__pic {
    float: left;
    margin-right: 5%;
  }
  &__pic:last-child {
    margin-right: 0;
  }
}
