.ingredients {
    position: relative;
    @include viewport-height;
    display: flex;
    flex-direction: column;
    align-content: center;
    @include parallax-deep( '../img/ingredients__background.png');
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 570px/1600px * 100%;
        margin-left: 815px/1600px * 100%;
        margin-top: -1.5%;
        height: 80vh;
        text-align: center;
        font-family: $font-family--base;
        color: white;
        background: url("../img/black-pattern.png");
        background-size: cover;
    }
    &__heading {
        font-size: $font-size--lg;
        @include iconed-heading( '../img/delimiter-3.png');
    }
    &__descr {
        margin: 70px (80px/570px * 100%) 5% (80/570 * 100%);
        line-height: 2.4rem;
    }
    &__pics-wrapper {
        margin: 0 (40px/570px * 100%);
    }
    &__pic {
        display: inline-block;
        margin-right: 2%;
    }
    &__pic:last-child {
        margin-right: 0;
    }
}
