.main-footer {
    height: 20vh;
    min-height: 320px;
    background-color: #191919;
    padding: 61px 230px/1600px * 100% 70px 230px/1600px * 100%;
    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__heading {
        margin-bottom: 63px;
        font-family: $font-family--yeseva;
        font-size: $font-size--md;
        opacity: 0.7;
        @include iconed-heading('../img/delimiter-3.png');
        &::after {
            background-size: contain;
            bottom: -31px;
            margin-left: -95px;
            width: 199px;
            height: 19px;
        }
    }
    &__item {
        flex-basis: 30%;
        text-align: center;
        color: $white;
    }
    &__descr {
        line-height: 24px;
        opacity: 0.7;
    }
}
