.main-nav {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding-left: 175px/1600px * 100%;
  padding-right: 175px/1600px * 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent);
  &__logo {
    padding: 38px 0 46px 3px;
    font-family: $font-family--yeseva;
    font-size: $font-size--lg;
    color: $white;
    font-weight: 400;
    opacity: 0.9;
    text-transform: uppercase;
    text-shadow: 0.5px 0.9px 10px rgba(1, 1, 1, 0.84);
  }
  &__list {
    flex-basis: 60%;
    font-family: $font-family--gentium;
    font-weight: bold;
    color: red;
  }
  &__item {
    display: inline-block;
    font-size: 0;
    & a {
      position: relative;
      display: block;
      padding: 50px 35px/1600px * 100%;
      padding: 50px 15px;
      color: $white;
      font-size: $font-size--md;
      font-weight: 400;
      opacity: 0.9;
      &::before {
        content: '';
        width: 100%;
        height: 3px;
        position: absolute;
        top: 0;
        left: 0;
      }
      &:hover::before{
        background-color: $white;
      }
      &:hover {
        color: darken($white, 15%);
      }
    }
  }
}
