.menu {
    @include viewport-height;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    padding: 0 8%;
    background-image: url('../img/pattern-2.png');
    background-color: $white;
    background-repeat: repeat;
    border-top: solid $white 6px;
    border-bottom: solid #191919 6px;
    &__heading {
        margin-bottom: 50px;
        text-align: center;
        font-family: $font-family--yeseva;
        font-size: $font-size--bg;
        font-weight: 400;
        color: $yellow;
        @include iconed-heading('../img/delimiter-2.png');
    }
    &__item {
        flex-basis: 10%;
        margin-bottom: 40px;
    }
    &__list {
        & li:not(:last-child) {
            margin-bottom: 25px;
        }
    }
    &__name {
        float: left;
        font-family: $font-family--yeseva;
        font-size: $font-size--md;
        color: $yellow;
    }
    &__price {
        float: right;
        font-family: $font-family--yeseva;
        font-size: $font-size--md;
        color: $yellow;
    }
    &__descr {
        font-family: $font-family--base;
        display: block;
        width: 100%;
        line-height: 24px;
    }
    &__info-wrapper {
        @include clearfix;
        border-bottom: solid 1px $yellow;
        padding-bottom: 7px;
        margin-bottom: 7px;
    }
}
